@page "/counter"

<PageTitle>Čítač</PageTitle>

<h1>Čítač</h1>

<p role="status">Aktuální počet: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Přidej 1</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
