@page "/meters"

<PageTitle>Měřiče</PageTitle>
<h3>Měřiče</h3>

<div class="infoboxmeters">
    <div class="infospravcemeters card-body">
    <span class="fw-bold fs-2">IRTN</span>   
    <div style="color:#6699ff; background-color:black">
            Odečty měřičů
    </div>
    </div>
        <br />
    <div class="card-body">
        <p class="infospravcemeters card-title">Info:</p>
    <ul class="card-text">
            <li>Technik TOMMI</li>
    </ul>
    </div>
</div>
@code {

}
