@page "/svj548"

<PageTitle>SVJ 548</PageTitle>
<h3>SVJ 548</h3>

<div class="infoboxsvj">
    <div class="infospravcesvj">
    <span class="fw-bold fs-2">TOMMI</span>
    <br /><span class="text-end fs-6">holding</span>
    <div style="color:#ffd800; background-color:black">
         Centrální dispečink 24 h
         <br />800 140 140
    </div>
     <div>
            <span class="fw-bold">Sídlo firmy:</span>
            <br/>Praha 9, U Svobodárny 12/1110 www.tommi.cz
    </div>
</div>
    <br />
<p class="infolabelsvj">Účetnictví a předpis záloh:</p>
<ul>    
    <li>Tel: 774 215 701</li>
    <li>Email: <a href="mailto:ucetni8@tommi.cz">ucetni8@tommi.cz</a></li>
</ul>
<p class="infolabelsvj">Technik:</p>
<ul>    
    <li>Tel: 776 067 381</li>
    <li>Email: <a href="mailto:technik14@tommi.cz">technik14@tommi.cz</a></li>
</ul>
</div>

@code {

}
