@page "/svj548"
<PageTitle>SVJ 548</PageTitle>

<div class="infoboxsvj">
    <div class="infospravcesvj card-body">
        <span class="fw-bold fs-2">SVJ 548</span>
        <div style="color:#ffd800; background-color:black">
            Předseda SVJ
        </div>
        <div>
            Email: <a href="mailto:jan.macecek@krit.cz">jan.macecek@krit.cz</a>
        </div>
    </div>
</div>

@code {

}
