@page "/svj548"
<PageTitle>SVJ 548</PageTitle>

<div class="infoboxsvj">
    <div class="infospravcesvj card-body">
        <span class="fw-bold fs-2">SVJ 548</span>
        <div style="color:#ffd800; background-color:black">
            Předseda SVJ
        </div>
        <div>
            <span><b>Jan Maceček</b></span><br />
            <span>Email: <a href="mailto:jan.macecek@krit.cz">jan.macecek@krit.cz</a></span><br />
            <span>Mobil: +420 602 612 216 </span>
        </div>
    </div>
</div>

@code {

}
