@page "/svjtommi"

<PageTitle>TOMMI</PageTitle>
<h3>TOMMI</h3>

<div class="infoboxsvj">
    <div class="infospravcesvj card-body">
    <span class="fw-bold fs-2">TOMMI</span>
    <br /><span class="text-end fs-6">holding</span>
    <div style="color:#ffd800; background-color:black">
            Centrální dispečink 24 h
            <br /><span class="fw-bold">800 140 140</span>
    </div>
     <div>
            <span class="fw-bold">Sídlo firmy:</span>
            <br/>Praha 9, U Svobodárny 12/1110 www.tommi.cz
    </div>
    </div>
        <br />
    <div class="card-body">
        <p class="infospravcesvj card-title">Účetnictví a předpis záloh:</p>        
        <ul class="card-text">
            <li>Tel: 774 215 701, Lahodová</li>
            <li>Email: <a href="mailto:ucetni8@tommi.cz">ucetni8@tommi.cz</a></li>
        </ul>
        <ul class="card-text">
            <li>Tel: 774 137 119, Cýrková</li>
            <li>Email: <a href="mailto:ucetni8@tommi.cz">predpis12@tommi.cz</a></li>
        </ul>
        <ul class="card-text">
            <li>Tel: 606 611 130, Matějková</li>
            <li>Email: <a href="mailto:ucetni8@tommi.cz">ucetni8@tommi.cz</a></li>
        </ul>
    </div>
        <div class="card-body">
            <p class="infospravcesvj card-title">Technik:</p>
            <ul class="card-text">
            <li>Tel: (Mazánek:776 067 381), Daniel Beránek</li>
                <li>Email: <a href="mailto:technik18@tommi.cz">technik18@tommi.cz</a></li>
            </ul>
        </div>
</div>

@code {

}
